@import "~src/reset.scss";
@import "~src/variables";
@import "~src/mixins";


/* Headlines with lines */
.decorated{
  overflow: hidden;
  text-align: center;
  color: $text-color;
  padding: 50px 0 50px 0;
}
.decorated > span{
 position: relative;
 display: inline-block;
}
.decorated > span:before, .decorated > span:after{
 content: '';
 position: absolute;
 top: 50%;
 border-bottom: 2px solid;
 width: 900px;
 margin: 0 3rem;
}
.decorated > span:before{
 right: 100%;
}
.decorated > span:after{
 left: 100%;
}

/* Horizontally scrolled sections */
.scrolling-wrapper{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

    &::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 auto;
    color: $text-color;
    background-color: $background-color;
    margin-right: 1rem;
  }
}

