<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Thank you for shopping at Mockbuster!</h2>
    </div>
    <div class="col-12">
      <p>
        Your order is now on its way. You will shortly receive 
        a confirmation email with yor tracking number. Use it to 
        track your order. Note that it can take up to 24 hours before tracking information is available.
        Have a great day!
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <button routerLink="/" type="submit" class="btn btn-success mb-2">Go back to shopping</button>
  </div>  
</div>
