
<nav class="navbar fixed-top">
  <div class=" row mr-auto">
      <a class="navbar-brand text-danger" routerLink="/">Mockbuster</a>

      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown"> -->
        <ul class="navbar-nav">
          <li ngbDropdown 
            routerLinkActive="active"
            class="nav-item dropdown">
            <a ngbDropdownToggle 
              app-counter
              class="nav-link dropdown-toggle" 
              id="dropdown01" data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false">
              Categories
            </a>
            <div ngbDropdownMenu 
              class="dropdown-menu" 
              aria-labelledby="dropdown01">
              <a  
                *ngFor="let category of categories" 
                ngbDropdownItem class="dropdown-item dropdown-item-action"
                [routerLink]="['/categories',category.id]">
                {{ category.name}}
              </a>
            </div>
          </li> 
        </ul>
      <!-- </div> -->
  </div>

  <form action="">
      <input type="search">
      <i class="fa fa-search"></i>
   </form> 

   <div
    routerLinkActive="active"
    class="nav-item">
    <a class="nav-link" 
      routerLink="/shopping-cart">
      <i class="fas fa-shopping-cart fa-2x"></i>
      <span class="counter">
          <app-counter></app-counter>
      </span>
    </a>
  </div>

</nav>
