@import "~src/reset.scss";
@import "~src/variables";
@import "~src/mixins";

.navbar {
  color: $text-color;
  background-color: black;
  font-family: $sans-serif;

  .navbar-brand {
    font-family: $serif;
    color: $detail-color;
    font-size: 2.5rem;
    margin-right: 0;
  } 

  .navbar-nav {

    .dropdown-menu{
      background-color: black;
      color:white;
      width:300px;
    
      .dropdown-item{
        color: white;
        
      }
    }
  }  

  @include for-desktop-up {  
      padding: 1rem 3rem;
  }

}

a {
  color: white;

  .fa-shopping-car {
    vertical-align: bottom;
  }
  .counter {
    height: 25px;
    width: 25px;
    background-color: $detail-color;
    border-radius: 50%;
    display: inline-block;
    color: white; 
 }
}

.dropdown-toggle {
  cursor: pointer;
}

a {
  .fa-shopping-car{
    color: white;
  }
}

/* Desktop */

@media (min-width: 992px) {

}







