<div class="admin-container">
  <table class="table .table-borderless">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Order date</th>
          <th scope="col">Customer</th>
          <th scope="col">Movie</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor='let order of myOrders'>
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.created | date:'M/d/yyyy HH:mm:ss' }}</td>
            <td>{{ order.createdBy }}</td>
            <div class="order-rows" *ngFor='let row of order.orderRows'>
              <td>ID: {{ row.productId }}</td> 
              <td>Amount: {{ row.amount }}</td> 
            </div>
              <td>
                <button class="btn" (click)="removeOrder(order.id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
        </tr>
      </tbody>
    </table>
</div>



