@import "~src/reset.scss";
@import "~src/variables";
@import "~src/mixins";

.container{
  margin-top: 80px;
  color: white;

  .hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/not-found.jpg");
    height: 800px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

      .hero-text{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;

        .btn{
          background-color: $detail-color;
          color: white;
          margin: 2rem;
        }
      }
    }

    @include for-desktop-up{
      margin-top: 200px;
    }
  }