@import "~src/reset.scss";
@import "~src/variables";
@import "~src/mixins";

.display{
  display: none;
}
.container{
  margin-top: 150px;
  background-color: white;

  .display{
    display: none;
  }

  .notification{
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
  }

  .wrapper{
    margin: 2rem;
  }

  .form{
    border: 1px solid black;
  }
  
  .header{
    font-size: 1.5rem;
  }

  .header-highlighted{
    font-size: 1.2rem;
    background-color: $detail-color;
    color: white;
    padding: 5px;
    border-radius: 3px;
  }

  .shopping-cart{
    .product-name{
      margin: 2rem 0;
      font-weight: 700;
    }

    .btn-counter{
      border-radius: 50%;
      border: 1px solid $light-detail;
    }
  
    .quantity{
      margin-top: 0.5rem;
      margin-left: 0.6rem;
    }
  }

  @include for-desktop-up{
    max-width: 98%;
  }
}

