
<div class="container">
  <h2>Total amount to pay {{ totalPrice }}</h2>

  <div class="row">

      <div class="col-10 col-md-4 order-md-12">
          <div 
            class="row shopping-cart"
            *ngFor="let item of shoppingCart">
            <div class="col-12">
                {{ item.product.name }}
            </div>
            <div class="col-4">
              <img 
                class="img-thumbnail"
                [src]="item.product.imageUrl" alt="">
            </div>
            <div class="col-2">
                {{ item.product.price }} sek
            </div>
            <div class="col-4">
              {{ item.amount }}
            </div>
              <!-- <div class="row">
                <div class="col-3 counter-btn">
                    <button class="btn btn-danger btn-block"
                    (click)="removeMovie(item.product)">-</button>
                  </div>
                  <div class="col quantity">
                    {{ item.amount }}
                  </div>
                  <div class="col-3 counter-btn">
                    <button class="btn btn-danger btn-block"
                    (click)="addMovie(item.product)">+</button>
                  </div>
              </div>   -->
            
            <div class="col-2">
              {{ item.amount * item.product.price}} sek
            </div>
        </div>
      </div>
      
    <div class="col-10 col-md-5 form ">
        <app-register-form (detailsForm)="getFormDetails($event)"></app-register-form>
    </div>

  </div>
   
</div>




    
    

