
<div class="container">
  <h2>Total amount to pay {{ totalPrice }}</h2>

  <div class="row">
    <div class="col form">
        <app-register-form (detailsForm)="getFormDetails($event)"></app-register-form>
        {{payment}}
    </div>
    <div class="col">
      hello world
    </div>

  </div>


  <!-- <div class="col-10 md-col-4 form">
      <app-register-form (detailsForm)="getFormDetails($event)"></app-register-form>
        {{payment}}
  </div>

  <div class="col-10 md-col-6 order-summary">
      <div 
      class="row shopping-cart"
      *ngFor="let item of shoppingCart">
        <div class="col-3">
          <img 
            class="img-thumbnail"
            [src]="item.product.imageUrl" alt="">
        </div>
        <div class="col-3">
          {{ item.product.name }}
        </div>
        <div class="col-3">
          {{ item.amount}} 
        </div>
    
        <div class="col-3">
          {{ item.amount * item.product.price}}
        </div>
    </div>
    
  </div> -->
</div>




    
    

