
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4 order-md-12 wrapper">
      <div class="row justify-content-center">
        <div class="header">Shopping Cart</div>
      </div>
      <hr>
      <div 
        class="row shopping-cart"
        *ngFor="let item of shoppingCart">
          <div class="col-12 product-name">
              {{ item.product.name }}
          </div>
          <div class="col-4">
            <img 
              class="img-thumbnail"
              [src]="item.product.imageUrl" alt="">
          </div>
          <div class="col-1">
              {{ item.product.price }} sek
          </div>
          <div class="row justify-content-center">
            <div class="col-3">
              <button class="btn btn-counter"
              (click)="removeMovie(item.product.id)">-</button>
            </div>
            <div class="col-1 quantity">
              {{ item.amount }}
            </div>
            <div class="col-3">
              <button class="btn btn-counter"
              (click)="addMovie(item.product.id)">+</button>
            </div>
          </div>  
          <div class="col-12">
            Total {{ item.amount * item.product.price}} sek
            <hr>
          </div>
        </div>
        <div class="row justify-content-center header-highlighted">
          <div>Total amount to pay {{ totalPrice }} sek</div>
        </div>
      </div>
      
    <div class="col-10 col-md-5 wrapper">
      <div class="row justify-content-center">
        <div class="header">Register form</div>
      </div>
      <hr>
      <app-register-form (detailsForm)="getFormDetails($event)"></app-register-form>
    </div>

  </div>
   
</div>




    
    

