@import "~src/reset.scss";
@import "~src/variables";
@import "~src/mixins";

.container{
  margin: 200px 2rem;
  background-color: white;

  .form{
    border: 1px solid black;
    margin: 3rem;
    padding: 2rem;
  }

  @include for-desktop-up{
    max-width: 98%;
  }
}

