
 <div class="info-modal" [class.display-modal]="noDisplay">
  
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2 class="product-title">{{movieInfo.name}}</h2> 
      <div class="row">
        <div class="col">
          <p>{{ movieInfo.description }}</p>
        </div>
        <div class="col">
          <img class="movie-img-top" [src]="movieInfo.imageUrl"  alt="{{ movieInfo.name }}">
        </div>
      </div>
      
      
    </div>

 </div>

   
   
  


