@import "~src/reset.scss";
@import "~src/variables";
@import "~src/mixins";

.caterories-container{
  margin: 80px 1rem;

  @include for-tablet-landscape-up {
    margin-top: 200px;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}