/* You can add global styles to this file, and also import other style files */

/* Bootstrap */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~src/reset.scss";
@import "~src/variables";
@import "~src/mixins";



body, .card{
  background-color: $background-color;
}

.card{
  color: white;
  background-color: $background-color;
  height: 760px;
}





