/* You can add global styles to this file, and also import other style files */

/* Bootstrap */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~src/reset.scss";
@import "~src/variables";
@import "~src/mixins";



body, .card{
  background-color: $background-color;
}

/* Horizontally scrolled sections */
.scrolling-wrapper{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0.5rem;

    &::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 auto;
    color: $text-color;
    background-color: $background-color;
    margin-right: 1rem;
    height: 780px;
    color: white;
  }
}





