
<div class="card" style="width: 20rem;">

        <img class="card-img-top img" [src]="movie.imageUrl"  alt="{{ movie.name }}">
  
    <div class="card-body">
        <button class="btn info-button" (click)="toggle()">i</button>
      <div class="row justify-content-center">
          <h5 class="card-title">{{ movie.name }}</h5>  
      </div>
      
      <p class="card-text">{{ movie.price }} sek</p>
    </div>
    <div class="card-footer">
      <button 
        *ngIf= "productQuantity == 0; else updateQuantity"
        (click)="addMovie(movie)" 
        class="btn btn-block">Add to Cart</button>
        <ng-template #updateQuantity>
          <div class="row">
            <div class="col-3 counter-btn">
              <button class="btn btn-danger btn-block"
              (click)="removeMovie(movie)">-</button>
            </div>
            <div class="col quantity">
              {{ productQuantity }} in Cart
            </div>
            <div class="col-3 counter-btn">
              <button class="btn btn-danger btn-block"
              (click)="addMovie(movie)">+</button>
            </div>
          </div>
        </ng-template>
    </div>
  </div>
<app-product-modal [class.display_modal]="modalVisibility" [movieInfo]="movie"></app-product-modal>


