/* Color variables */
$base-color: #141414;
$font-color: #ccc;
$detail-color: #e21121;

.btn{
  background-color: $detail-color;
  color: white;
}

.counter-btn{
 

}

.card{
  background-color: $base-color;
}
.info-button{
  height: 40px;
  width: 40px;
  border-radius: 25px;
  font-weight: 900; 
}

.card-footer{
  padding: 0;
}

.display_modal{
  display: none;
}

.img{
  height: 500px;
  margin-bottom: 20px;
}

.quantity{
  text-align: center;
  background-color: white;
  color: black;
}

