@import "~src/reset.scss";
@import "~src/variables";
@import "~src/mixins";

.btn{
  background-color: $detail-color;
  color: white;
}

.card{
  background-color: black;
  
}
.info-button{
  height: 40px;
  width: 40px;
  border-radius: 25px;
  font-weight: 900; 
  border: 1px solid white;
}

.card-footer{
  padding: 0;
}

.display_modal{
  display: none;
}

.img{
  height: 500px;
  margin-bottom: 20px;
}

.quantity{
  text-align: center;
  background-color: white;
  color: black;
}

